.task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.task:focus-within,
.task:hover {
  
  border: 1px solid #fff;
}
.task__content {
  font-size: 20px;
  width: 100%;
  padding: 6px;
  border: none;
  background: transparent;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
}

.task__button {
  border: none;
  border-radius: 4px;
  padding: 0;
  min-width: 38px;
  margin: 0 10px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
.tusk__button_move {
  background: #fff url(../../images/move.svg) no-repeat center;
  cursor:grab
}
.task__button_pending {
  background: #fff url(../../images/timer_icon.svg) no-repeat center;
}

.task__button_complited {
  background-image: url(../../images/tick.svg);
}

.task__button_remove {
  background: url(../../images/close-icon-s.svg) no-repeat center;
  margin: 0;
}

.task__button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
