.task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}
.task__content {
  font-size: 20px;
  width: 100%;
  padding: 6px;
  border: none;
  background: transparent;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
}

.task__button {
  border: none;
  border-radius: 4px;
  padding: 0;
  min-width: 38px;
  margin: 0 10px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.task__progress {
  background: #fff url(../../images/timer_icon.svg) no-repeat center;
}

.task__progress_complited {
  background-image: url(../../images/tick.svg);
}

.task__remove {
  background: url(../../images/close-icon-s.svg) no-repeat center;
  margin: 0;
}

.task__progress:hover,
.task__remove:hover {
  opacity: 0.7;
  transition: 0.3s;
}
